<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Kalamba</title>
    
</head>
<body>
    <form id="summonerSearchForm" action="/searchSummoner" method="post">
        <p>
            소환사 이름
            <input type="text" id="summonerName" name="summonerName"/>
            <input type="submit" id="" value="검색"/>
        </p>
    </form>
</body>
</html>