<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Kalamba</title>
    
</head>
<body>
    <h1>소환사 정보</h1>
    <p th:text="${accountId}"></p>
    <p th:text="${name}"></p>
    <p th:text="${summonerLevel}"></p>
    <p>--------------------------------</p>
    <h2>플레이어 정보</h2>
    <img th:src="${championImage}" />
    <p th:text="${gameDuration}"></p>
    <p th:text="${gameMode}"></p>
    <p th:text="${summonerName}"></p>
    <p th:text="${deaths}"></p>
    <p th:text="${kda}"></p>
    <p th:text="${teamDamagePercentage}"></p>
</body>
</html>